:root{
    --orange-bitcoin: #FF9536;
    --soft-orange:#FFE9D5;
	--secondary-blue:#1a9af7; 
	--soft-blue:#E7F5FF;
	--warm-black:#201E1C;
	--gray:#BABABA;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Source Code Pro, sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    height: 300px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 200px;
    height: 30px;
    margin-top: 60px;
    align-self: center;
}
.header-title-container {
    margin-top: 25px;
    width: 85%;
    align-self: center;
}
.header-title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header-title-container p{
    color: var(--gray);
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 15px;
    line-height: 1.8rem;
}