:root{
    --orange-bitcoin: #FF9536;
    --soft-orange:#FFE9D5;
	--secondary-blue:#1a9af7; 
	--soft-blue:#E7F5FF;
	--warm-black:#201E1C;
	--gray:#BABABA;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DN Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    padding: 10px;
}
header img{
    width: 150px;
    height: 30px;
    margin: 10px;
    align-self: center;
}
.header-tittle-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
}