:root{
    --orange-bitcoin: #FF9536;
    --soft-orange:#FFE9D5;
	--secondary-blue:#1a9af7; 
	--soft-blue:#E7F5FF;
	--warm-black:#201E1C;
	--gray:#BABABA;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Source Code Pro, sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    height: 350px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
header img{
    width: 200px;
    height: 30px;
    margin-top: 60px;
    align-self: center;
}
.header-title-container {
    margin-top: 25px;
    width: 85%;
    align-self: center;
}
.header-title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header-title-container p{
    color: var(--soft-orange);
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 15px;
    line-height: 1.8rem;
}
.header-button{
    /*posicion*/
    position: absolute;
    left: calc(50% - 115px);
    display: block;
    top: 305px;
    padding: 15px;
    margin-top: 15px;
    width: 250px;
    height: 48px;
    background-color: var(--off-white);
    border-radius: 10px;
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    /*fuente*/
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}
.header-button span {
    display: inline-block;
    margin-left: 10px;
    width: 13px;
    height: 8px;
    background-image: url('../assets/icons/down-arrow.svg');
}
.header-button:hover {
    box-shadow: 0px 15px 30px rgba(89, 73, 30, 0.16);
}
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.section-exchange{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-exchange .exchange-background{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.exchange-title{
    margin-top: 50px;
    width: 85%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.exchange-title h2{
    font-size: 2rem;
}
.exchange-title p{
    margin-top: 6px;
    font-size: 1.4rem;
}
.tablecurrency-tablecontainer{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
}
.tablecurrency-title {
    margin-bottom: 10px ;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--orange-bitcoin);
}
.tablecurrency-tablecontainer{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    margin: 0 auto;
}
.tablecurrency-tablecontainer table{
    width: 100%;
    height: 100%;

}
.tablecurrency-tablecontainer td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500px;
    line-height: 1.9rem;
    color: var(--gray);
    background: var(--just-white);
}
.tablecurrency-tablecontainer .table-topleft{
    border-top-left-radius: 15px;
}
.tablecurrency-tablecontainer .table-topright{
    border-top-right-radius: 15px;
}
.tablecurrency-tablecontainer .table-bottomleft{
    border-bottom-left-radius: 15px;
}
.tablecurrency-tablecontainer .table-bottomright{
    border-bottom-right-radius: 15px;
}
.tablecurrency-tablecontainer .table-right{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.7rem;
}
.tablecurrency-tablecontainer .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tablecurrency-tablecontainer .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
